{% extends 'myapp/base.html' %}

{% block content %}
<h2>Menu</h2>
<div class="pizza-list">
    {% for pizza in pizzas %}
    <div class="pizza-card">
        <img src="{{ pizza.image.url }}" alt="{{ pizza.name }}">
        <h3>{{ pizza.name }}</h3>
        <p>Size: {{ pizza.size.name }} | Crust: {{ pizza.crust.name }}</p>
        <p>Toppings: 
            {% for t in pizza.toppings.all %}{{ t.name }}{% if not forloop.last %}, {% endif %}{% endfor %}
        </p>
        <p>Price: ${{ pizza.calculate_total }}</p>
        <a href="{% url 'add_to_cart' pizza.id %}" class="btn">Add to Cart</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
