{% extends 'myapp/base.html' %}
{% block content %}
<h1>Menu</h1>
<div class="menu-grid">
{% for p in pizzas %}
<div class="menu-card">
    <img src="{{ p.image.url if p.image else '/static/myapp/images/pizza1.jpg' }}" alt="{{ p.name }}">
    <h2>{{ p.name }}</h2>
    <p>Size: {{ p.size.name }} | Crust: {{ p.crust.name }}</p>
    <p>Price: Rs {{ p.calculate_total }}</p>
    <form method="post" action="{% url 'cart' %}">
        {% csrf_token %}
        <input type="hidden" name="pizza_id" value="{{ p.id }}">
        <button class="btn">Add to Cart</button>
    </form>
</div>
{% endfor %}
</div>
{% endblock %}
